## Crime Reports Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
import gmaps

In [2]:
# Import API key
api_key="462ea7e15658cb8510afaefd89e8a094"
g_key="AIzaSyDcaJPF887yeL8zxIex0HqTm3StXBIfszI"

In [3]:
# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
crime_data = pd.read_csv("crime_reports.csv")
crime_data.head()

,Incident_Number,Highest_Offense_Description,Occurred_Date,Occurred_Time,Report_Date,Report_Time,Zip_Code,Census_Tract,Clearance_Date,X_coordinate,Y_coordinate,Latitude,Longitude
0,2.021365e+10,ASSAULT W/INJURY-FAM/DATE VIOL,12/31/2021,436,12/31/2021,436,78736,330.00,12/31/2021,3066128,3066128,30.236409,-97.896279
1,2.021365e+10,ASSAULT W/INJURY-FAM/DATE VIOL,12/31/2021,1223,12/31/2021,1223,78726,346.00,12/31/2021,3081086,3081086,30.420047,-97.844167
2,2.021365e+10,AGG ASLT STRANGLE/SUFFOCATE,12/31/2021,244,12/31/2021,244,78752,433.00,12/31/2021,3128894,3128894,30.333886,-97.694807
3,2.021365e+10,FAMILY DISTURBANCE,12/31/2021,1933,12/31/2021,1933,78702,8.00,1/1/2022,3119243,3119243,30.274018,-97.727025
4,2.021365e+10,TERRORISTIC THREAT,12/31/2021,1621,12/31/2021,1621,78741,23.15,12/31/2021,3118423,3118423,30.233644,-97.730712

In [6]:
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bredasdorp,ZA,-34.5322,20.0403,49.91,86,32,2.30,scattered clouds,2022-07-14 23:57:50
1,1,Punta Arenas,CL,-53.1500,-70.9167,32.11,93,75,4.61,broken clouds,2022-07-14 23:56:08
2,2,Shakiso,ET,5.7500,38.9167,59.36,89,100,2.42,overcast clouds,2022-07-14 23:57:51
3,3,Cherskiy,RU,68.7500,161.3000,54.18,44,53,1.28,broken clouds,2022-07-14 23:57:51
4,4,Tavricheskoye,RU,54.5851,73.6395,58.91,92,92,7.07,overcast clouds,2022-07-14 23:57:51

In [45]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30, -97), zoom_level=8.3)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

City_ID                699
City                   699
Country                694
Lat                    699
Lng                    699
Max Temp               699
Humidity               699
Cloudiness             699
Wind Speed             699
Current Description    699
Date                   699
dtype: int64

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Bredasdorp,ZA,-34.5322,20.0403,49.91,86,32,2.30,scattered clouds,2022-07-14 23:57:50
1,1,Punta Arenas,CL,-53.1500,-70.9167,32.11,93,75,4.61,broken clouds,2022-07-14 23:56:08
2,2,Shakiso,ET,5.7500,38.9167,59.36,89,100,2.42,overcast clouds,2022-07-14 23:57:51
3,3,Cherskiy,RU,68.7500,161.3000,54.18,44,53,1.28,broken clouds,2022-07-14 23:57:51
4,4,Tavricheskoye,RU,54.5851,73.6395,58.91,92,92,7.07,overcast clouds,2022-07-14 23:57:51
...,...,...,...,...,...,...,...,...,...,...,...
689,694,Bahia Blanca,AR,-38.7196,-62.2724,48.16,73,100,3.36,overcast clouds,2022-07-15 00:01:45
690,695,Ambanja,MG,-13.6833,48.4500,66.38,83,61,3.78,broken clouds,2022-07-15 00:01:46
691,696,Barwadih,IN,23.8333,84.1167,77.92,83,82,5.73,broken clouds,2022-07-15 00:01:46
692,697,El Alto,PE,-4.2714,-81.2147,64.47,76,18,17.25,few clouds,2022-07-15 00:01:46
693,698,Araouane,ML,18.9048,-3.5265,96.49,22,21,10.07,few clouds,2022-07-15 00:01:46

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,49.91,scattered clouds,-34.5322,20.0403,
1,Punta Arenas,CL,32.11,broken clouds,-53.1500,-70.9167,
2,Shakiso,ET,59.36,overcast clouds,5.7500,38.9167,
3,Cherskiy,RU,54.18,broken clouds,68.7500,161.3000,
4,Tavricheskoye,RU,58.91,overcast clouds,54.5851,73.6395,
5,Sitka,US,55.15,overcast clouds,57.0531,-135.3300,
6,Ushuaia,AR,26.26,clear sky,-54.8000,-68.3000,
7,Grand Gaube,MU,68.40,clear sky,-20.0064,57.6608,
8,Barcelos,PT,78.91,broken clouds,41.5388,-8.6151,
9,Aitape,PG,81.88,overcast clouds,-3.1374,142.3475,

In [46]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in crime_data.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Latitude"]
    lng = row["Longitude"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "incident",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
   # hotels = requests.get(base_url, params=params).json()

In [47]:
fig

Figure(layout=FigureLayout(height='420px'))

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bredasdorp,ZA,49.91,scattered clouds,-34.5322,20.0403,
1,Punta Arenas,CL,32.11,broken clouds,-53.1500,-70.9167,
2,Shakiso,ET,59.36,overcast clouds,5.7500,38.9167,
3,Cherskiy,RU,54.18,broken clouds,68.7500,161.3000,
4,Tavricheskoye,RU,58.91,overcast clouds,54.5851,73.6395,

In [50]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Incident_Number</dt><dd>{Incident_Number}</dd>
<dt>Highest_Offense_Description</dt><dd>{Highest_Offense_Description}</dd>
<dt>Occurred_Date</dt><dd>{Occurred_Date}</dd>
<dt>Occurred_Time</dt><dd>{Occurred_Time}</dd>
<dt>Census_Tract</dt><dd>{Census_Tract}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
crime_data = [info_box_template.format(**row) for index, row in crime_data()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = crime_data[["Latitude", "Longitude"]]

TypeError: 'list' object is not callable

In [51]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

ValueError: weights must be of the same length as locations or None

In [16]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))